extends layout

block content
  h1= title

  p #[strong status:] #{bookinstance.status}
  p #[strong book:] #{bookinstance.book.title}
  p #[strong imprint:] #{bookinstance.imprint}
  p #[strong due_back:] #{bookinstance.due_back_formatted}

  hr
  p Do you really want to delete this BookInstance?

  form(action="" method='POST')
    div.form-group
        input#bookinstanceid.form-control(type="hidden" name='bookinstanceid' value=bookinstance._id required='true' )
    button.btn.btn-primary(type='submit') Delete